{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
            <h1>Create New Page</h1>
            <div>
                <form id="new_page_form" action="{% url 'new' %}" method="post">
                    {% csrf_token %}
                    <label for="new_page_title">New Page Title</label>
                    <br>
                    
                    <input name="new_page_title" id="new_page_title" type="text" placeholder="New page title" value="{{ form_title }}">
                    <br> <br>
                    <label for="markdown">New Page Content</label>
                    <br>
                    <textarea name="markdown" id="markdown" cols="100" rows="4" placeholder="New page content (in Markdown)">{{ form_content }}</textarea>
                    <br> <br>
                    <input type="submit" value="Create New Page">
                </form>
            </div>

            {% if form_message %}
            <br>
            <div>
                <h2>{{ form_message }}</h2>
            </div>
            {% endif %}

{% endblock %}