{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <div>
        <form action="">
            <label for="page_title">Page Title</label>
            <br>
            <input name="page_title" id="page_title" type="text" placeholder="New page title">
            <br> <br>
            <label for="markdown">Page Content</label>
            <br>
            <textarea name="markdown" id="markdown" cols="100" rows="4" placeholder="New page content (in Markdown)"></textarea>
            <br> <br>
            <input type="submit" value="Create New Page">
        </form>
    </div>

{% endblock %}