{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <div>
        <form action="">
            <label for="page_title">Page Title</label>
            <br>
            <input name="page_title" id="page_title" type="text">
            <br> <br>
            <label for="markdown">Page Content</label>
            <br>
            <!-- <input type="text" name="markdown" id="markdown" size="100"> -->
            <textarea name="markdown" id="markdown" cols="100" rows="4" placeholder="Input markdown content of new page here."></textarea>
            <br>
            <input type="submit">
        </form>
    </div>

{% endblock %}